name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Show Java version
        run: java -version

      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Build and test
        run: ./gradlew clean build

      - name: Report test status
        if: success()
        run: echo "Gradle build and tests completed successfully."

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-app-jar
          path: build/libs/*.jar
